<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">Inicio
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="talleres/listar" class="nav-link">Talleres</a>
        </li>
        <li class="nav-item">
          <a routerLink="matriculas/listar" class="nav-link">Matriculas</a>
        </li>
      </ul>
    </div>
  </nav>