<div class="row">
    <div class="col-md-3">

    </div>

    <div class="col-md-9">
      <table class="table table-dark table-bordered table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Detalle</th>
            <th>Horas</th>
            <th>Cupos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let taller of talleres">
            <td>{{taller.nombre}}</td>
            <td>{{taller.detalle}}</td>
            <td>{{taller.numhoras}}</td>
            <td>{{taller.cupos}}</td>
          </tr>
  
        </tbody>
      </table>
    </div>
  </div>
  